<!DOCTYPE html>
<html>

<head>
  <title>Rakuten</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_pack_tag 'hello_vue' %>
  <%#= stylesheet_link_tag 'hello_vue' %>
  <%#= javascript_pack_tag 'hello_vue' 只需要改這裡... %>
</head>

<body>
  <div class="container">
    <%= yield %>
  </div>
</body>

</html>