<h1>Members List</h1>

<%= link_to "New Member", new_member_path %>

<table class="table">
  <thead>
    <tr>
      <td>No.</td>
      <td>Name</td>
      <td>Phone</td>
      <td>E-mail</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td><%= member.id %></td>
      <td><%= member.name %></td>
      <td><%= member.phone %></td>
      <td><%= member.email %></td>
      <td><%= link_to 'Edit', edit_member_path(member) %></td>
      <td>
        <%= link_to 'Delete', member_path(member), method: 'delete', data: {confirm: "Are you sure you want to delete?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <hr>
  <div id="app">
    <name-card></name-card>
  </div>
</table>